footer {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  background-color: #423eaf;
  color: #fff;
}
footer .container {
}
footer .flex {
  text-align: left;
}
footer .flex .item {
}
footer .flex .item .icono {
}
footer .flex .item .icono ul {
  list-style: none;
  display: flex;
  padding: 0;
}
footer .flex .item .icono li {
  padding-right: 31px;
}
footer .flex .item .texto_flex li {
  padding-bottom: 10px;
}
footer .flex .item .texto_flex li a {
  text-decoration: none;
  color: #fff;
}
footer .flex .bg {
  background-color: ;
}
footer .flex .action {
  text-align: left;
}
footer .flex .action a {
  background-color: #fff;

  color: var(--c-primary);

  text-decoration: none;
}
footer .flex .titulo_flex {
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.5px;
}
footer .flex .texto_flex {
  /* font-size: 17px; */
  padding-bottom: 10px;
  mix-blend-mode: normal;
  opacity: 0.5;
}
footer .flex > :last-child .texto_flex {
  opacity: 100;
}
footer .flex .texto_flex ul {
  list-style: none;

  padding-left: 0;
}
footer .flex .item .logo {
  display: flex;
  align-items: end;
}
footer .flex .item .logo > :first-child {
}
footer .flex .item .logo > :first-child .image {
}
footer .flex .item .logo > :first-child .image img {
  object-fit: none;
}
footer .flex .item .logo > :last-child .image img {
  padding-top: 1;
}
@media screen and (max-width: 900px) {
  footer {
  }
  footer .container {
  }
  footer .flex {
  }
  footer .flex .item {
  }
  footer .flex .bg {
  }
  footer .flex .titulo_flex {
  }
  footer .flex .texto_flex {
  }
}
