:root { --c-primary: #27a4c1; --c-secondary: #C23A6E; --c-terciary: #C2B213; --c-hover: #222; --r-facebook: #3C5A99; --r-twitter: #00A9FF; --r-homea: #F7941E; --r-houzz: #77BC42; --r-yelp: #D32323; --r-google: #DD4B39; }
* { box-sizing: border-box; }
html { font-size: 20px; }
body { font-family: Inter, sans-serif; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); }
a { color: var(--c-primary); text-decoration: none; transition: all 0.2s ease 0s; }
a:hover { color: var(--c-hover); }
img { max-width: 100%; }
.text-center { text-align: center; }
input[type="text"], input[type="number"], input[type="tel"], input[type="email"], input[type="password"], input[type="search"], select, textarea { display: inline-block; width: 100%; border-width: 0px 0px 1px; border-top-style: initial; border-right-style: initial; border-left-style: initial; border-top-color: initial; border-right-color: initial; border-left-color: initial; border-image: initial; border-bottom-style: solid; border-bottom-color: rgb(187, 187, 187); padding: 0px 10px; margin-bottom: 13px; font-size: 0.65rem; height: 45px; outline: none; box-sizing: border-box; }
input[type="text"][readonly], input[type="number"][readonly], input[type="tel"][readonly], input[type="email"][readonly], input[type="password"][readonly], input[type="search"][readonly], select[readonly], textarea[readonly] { background-color: rgb(240, 240, 240); text-shadow: rgb(255, 255, 255) 1px 1px 0px; color: rgb(102, 102, 102) !important; }
input[type="number"][readonly].white, input[type="text"][readonly].white { color: inherit; background-color: inherit; text-shadow: inherit; }
textarea { height: 80px; padding: 11px 16px; }
input[type="text"]::placeholder, input[type="number"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder, input[type="password"]::placeholder, input[type="search"]::placeholder, select::placeholder, textarea::placeholder { opacity: 0.8; color: rgb(102, 102, 102); }
input[type="number"], input[type="tel"] { appearance: none; }
button, input[type="submit"] { cursor: pointer; }
a, button, input[type="button"], input[type="submit"] { transition: all 0.2s ease 0s; cursor: pointer; }
input[type="submit"]:hover { background-color: var(--c-hover); color: white; }
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { appearance: none; margin: 0px; }
input[type="number"] { }
select { vertical-align: middle; background: url("data:image/svg+xml,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-down' class='svg-inline--fa fa-chevron-down fa-w-14' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3e%3cpath fill='%23000' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3e%3c/path%3e%3c/svg%3e") calc(100% + -10px) center / 8px 10px no-repeat white; appearance: none; width: 100%; }
.btn { font-size: 0.75rem; padding: 16px 34px; font-weight: 400; display: inline-block; background-color: transparent; border-radius: 0px; text-align: center; font-family: Oswald; border: 1px solid rgb(0, 0, 0); }
.btn:hover { background-color: var(--c-hover); border-color: var(--c-hover); color: white; }
.btn-black { background-color: black; color: white; }
.btn-black:hover { opacity: 0.7; }
.btn-primary { background-color: var(--c-primary); border-color: var(--c-primary); color: white; }
.btn-secondary { background-color: var(--c-secondary); border-color: var(--c-secondary); color: white; }
.btn-terciary { background-color: var(--c-terciary); border-color: var(--c-terciary); color: white; }
.btn-primary-border { background-color: transparent; border: 2px solid var(--c-primary); color: var(--c-primary); }
.btn-secondary-border { background-color: transparent; border: 2px solid var(--c-secondary); color: var(--c-secondary); }
.btn-terciary-border { background-color: transparent; border: 2px solid var(--c-terciary); color: var(--c-terciary); }
.table { display: table; width: 100%; height: 100%; }
.table-cell { display: table-cell; vertical-align: middle; width: 100%; height: 100%; }
.modal { display: none; }
.title { font-size: 2.25rem; font-weight: 500; margin-top: 0px; margin-bottom: 20px; display: block; font-family: Oswald, sans-serif; }
.subtitle { font-weight: 600; color: var(--c-secondary); font-size: 1rem; margin-bottom: 25px; }
@media screen and (max-width: 766px) {
  .title { font-size: 1.5rem; }
  .subtitle { font-size: 0.8rem; }
}
.custom-radio { display: none; }
.custom-radio + span { display: inline-flex; vertical-align: middle; border: 1px solid rgb(59, 66, 86); width: 20px; height: 20px; border-radius: 50px; margin-right: 15px; justify-content: center; align-items: center; }
.custom-radio:checked + span { border: 1px solid var(--c-secondary); }
.custom-radio:checked + span::before { content: ""; display: block; width: calc(100% + -6px); height: calc(100% + -6px); border-radius: 50%; background-color: var(--c-secondary); }
.mojito-modal-div > div { border-radius: 10px; overflow: hidden; }
.mojito-modal-content-div { padding-bottom: 25px !important; }
div#mojito-modal-header-div { display: flex; flex-wrap: wrap; justify-content: end; padding: 14px; background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(238, 238, 238); }
div#mojito-modal-header-div > div { padding: 0px 6px; font-size: 25px; }
div#mojito-modal-eye-div, div#mojito-modal-close-div { cursor: pointer; }
.mojito-modal-content-div h2 { margin-top: -57px; font-size: 1rem; text-align: center; font-weight: 500; }
@media screen and (max-width: 900px) {
  .mojito-modal-content-div { padding-left: 5px !important; padding-right: 5px !important; padding-bottom: 4px !important; }
  .mojito-modal-div > div { width: calc(100% - 20px) !important; }
}
.cart-item { display: flex; gap: 15px; align-items: center; }
.cart-item .cart-imagen { }
.cart-item .cart-imagen img { max-width: 100%; width: 60px; height: 60px; object-fit: cover; border-radius: 6px; }
.cart-item .cart-desc { font-family: Oswald, sans-serif; }
.cart-item .cart-title { font-size: 0.8rem; padding-bottom: 4px; margin-top: 0px; }
.cart-item .cart-price { color: var(--c-primary); font-size: 0.8rem; }
.cart-price del { color: rgb(34, 34, 34); font-size: 0.6rem; display: inline-block; vertical-align: bottom; transform: translateY(-1px); }
table.table.table-cart { padding-top: 24px; padding-bottom: 0px; }
table.table.table-cart .cant input { height: 42px; background-color: rgb(255, 255, 255); }
table.table.table-cart tr { }
table.table.table-cart tr td { padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid rgb(204, 204, 204); }
table.table.table-cart tr td.cant-td { width: 100px; }
table.table.table-cart tr td.remove-td { width: 20px; }
table.table.table-cart tr td.remove-td a { color: var(--r-yelp); font-size: 1.5rem; font-weight: bold; margin-left: 7px; line-height: 1; }
table.table.table-cart tr td.remove-td a:hover { color: rgb(34, 34, 34); }
table.table.table-cart tr:last-child td { border-bottom: 0px; }
.cant { display: inline-flex; border: 1px solid rgb(0, 0, 0); align-items: center; padding-left: 6px; padding-right: 5px; }
.cant button { border: 0px; background-color: transparent; font-size: 1.1rem; display: flex; justify-content: center; align-items: center; line-height: 0; height: 100%; color: rgb(0, 0, 0); position: relative; }
.cant button::before { content: ""; display: block; width: 20px; height: 20px; position: absolute; background-color: rgb(204, 204, 204); border-radius: 50%; z-index: 0; opacity: 0.6; top: calc(50% + -8px); left: 50%; transform: translate(-50%); }
.cant input { border: 0px; width: 70px; justify-content: center; margin: 0px; padding-left: 0px; padding-right: 0px; text-align: center !important; }
@media screen and (max-width: 900px) {
  .cart-item { gap: 10px; display: grid; grid-template-columns: 60px 1fr; }
  .cart-item .cart-imagen { }
  .cart-item .cart-imagen img { }
  .cart-item .cart-desc { }
  .cart-item .cart-title { font-family: Inter; font-size: 0.6rem; }
  .cart-item .cart-price { font-size: 0.7rem; font-weight: 400; }
  table.table.table-cart { }
  table.table.table-cart .cant input { height: 40px; }
  table.table.table-cart tr { }
  table.table.table-cart tr td { }
  table.table.table-cart tr td.cant-td { width: 80px; }
  table.table.table-cart tr td.remove-td { }
  table.table.table-cart tr td.remove-td a { }
  table.table.table-cart tr td.remove-td a:hover { }
  table.table.table-cart tr:last-child td { }
  .cant { width: 100%; justify-content: center; }
  .cant button { padding-left: 0px; padding-right: 0px; width: 50%; }
  .cant input { width: 50%; text-align: center !important; }
}
.empty-cart { text-align: center; font-size: 0.85rem; padding-bottom: 10px; }
.empty-cart img { margin-right: 15px; width: 190px; opacity: 0.8; }
.empty-cart h5 { margin-bottom: 0px; font-size: 0.85rem; letter-spacing: -0.5px; font-weight: 600; }
.empty-cart p { font-size: 0.7rem; margin-top: 8px; color: rgb(102, 102, 102); letter-spacing: 0.5px; }
.pagination { margin: 0px; padding-left: 0px; justify-content: left !important; }
.pagination, .pagination li a { display: flex; align-items: center; flex-wrap: wrap; justify-content: center !important; }
.pagination li { background: rgb(0, 0, 0); list-style: none; border-radius: 50%; margin-left: 2px; margin-right: 2px; opacity: 0.7; transition: all 0.2s ease 0s; }
.pagination li.icon { background: rgb(102, 102, 102); }
.pagination li:hover { opacity: 1; }
.pagination li a { text-decoration: none; color: rgb(253, 253, 253); height: 25px; width: 25px; font-size: 12px; border-right-width: 0px; cursor: pointer; }
.pagination li a.active { background-color: rgb(255, 255, 255); color: var(--c-primary) ; }
.pagination li:last-child a { border-right-width: 1px; }
.pagination li:hover { opacity: 0.6; }
.pagination li:hover a { background: rgba(255, 255, 255, 0.2); border-top-color: rgba(0, 0, 0, 0.35); border-bottom-color: rgba(0, 0, 0, 0.5); }
.pagination li a:focus, .pagination li a:active { }
.pagination li.icon a { }
.pagination li:first-child span { padding-right: 8px; }
.pagination li:last-child span { padding-left: 8px; }
.pagination .next::after { content: ""; border-style: solid; border-color: white; border-image: initial; border-width: 0px 2px 2px 0px; display: inline-block; padding: 3px; transform: rotate(-45deg); }
.pagination .prev::before { content: ""; border-style: solid; border-color: white; border-image: initial; border-width: 0px 2px 2px 0px; display: inline-block; padding: 3px; transform: rotate(135deg); }
@media screen and (max-width: 900px) {
  .pagination li { display: none; }
  .pagination li.icon { display: block; }
}
.flex.page-total { margin-left: 0px; align-items: center; }
.flex.page-total > div:nth-child(1) { }
.flex.page-total > div:nth-child(2) { }
.flex.page-total .total { font-family: Oswald; text-align: right; font-size: 0.7rem; width: 40%; color: rgb(136, 136, 136); font-weight: 300; }
.flex.page-total .total > span { font-size: 1.3rem; display: block; padding-top: 3px; font-weight: 500; }
.botonera { padding-top: 16px; }
.success-add { z-index: 9; background-color: rgb(253, 253, 253); position: fixed; right: 15px; top: 66px; padding: 10px 20px 15px; border-radius: 7px; display: flex; font-size: 0.7rem; justify-content: center; align-items: center; box-shadow: rgba(100, 100, 100, 0.1) 0px 0px 10px 5px; }
.success-add::after { content: ""; width: 25px; height: 26px; background-image: url("data:image/svg+xml,%3Csvg%20aria-hidden='true'%20focusable='false'%20data-prefix='fas'%20data-icon='caret-up'%20class='svg-inline--fa%20fa-caret-up%20fa-w-10'%20role='img'%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20320%20512'%3E%3Cpath%20fill='currentColor'%20d='M288.662%20352H31.338c-17.818%200-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81%2020.474-7.81%2028.284%200l128.662%20128.662c12.6%2012.599%203.676%2034.142-14.142%2034.142z'%3E%3C/path%3E%3C/svg%3E"); background-repeat: no-repeat; background-size: cover; position: absolute; top: -23px; right: 64px; filter: invert(1); }
div#agregarMensajeDiv #linea1Span { display: block; padding-bottom: 10px; }
div#agregarMensajeDiv #linea1Span::before { content: "✓"; background-color: rgb(131, 194, 29); color: white; width: 16px; height: 16px; display: inline-block; align-items: center; justify-content: center; border-radius: 50%; font-weight: 800; margin-right: 5px; }
.success-add::before { display: flex; justify-content: center; align-items: center; background-color: rgb(131, 194, 29); color: white; width: 30px; height: 30px; border-radius: 50%; margin-right: 10px; font-size: 1rem; font-weight: 800; }
.success-add p { margin: 0px; }
.animated-label label { font-size: 0.7rem; top: 23px; color: rgb(102, 102, 102); opacity: 0.7; left: 10px; }
@media screen and (max-width: 900px) {
  .flex.page-total .total { width: 100%; }
  .flex.page-total .total .c-primary { font-weight: 400; font-size: 1.1rem; }
  .botonera { gap: 6px; display: flex; padding-left: 4px; padding-right: 4px; }
  .botonera > .btn { padding-left: 0px; padding-right: 0px; width: 100%; font-size: 0.65rem; font-weight: 400; letter-spacing: 0.7px; }
  .success-add { }
  .success-add::after { right: 30px; }
  div#agregarMensajeDiv #linea1Span { }
  div#agregarMensajeDiv #linea1Span::before { text-indent: 2px; }
  .success-add::before { }
  .success-add p { }
  .animated-label label { left: 0px; font-size: 0.6rem; }
}
.animated-label input:focus + label, .animated-label input:not(:placeholder-shown) + label, .animated-label textarea:focus + label, .animated-label textarea:not(:placeholder-shown) + label { font-size: 9px; }
.panel-invisible { display: none; }
span.mError.error-input { color: red; font-size: 0.55rem; position: absolute; left: 13px; top: 60px; width: 100%; border: 0px; }
.opciones { display: grid; gap: 8px; margin-top: 4px; }
.opciones label { padding-left: 0px; cursor: pointer; font-size: 0.6rem; }
.opciones label span { margin-right: 5px; }
@media screen and (max-width: 900px) {
  span.mError.error-input { left: 1px; }
  .opciones { margin-bottom: 30px; }
  .opciones label { }
  .opciones label span { }
}
.ui-tooltip { font-size: 0.7rem !important; }
section .badge { position: absolute; z-index: 1; color: white; background-color: var(--c-primary); padding: 6px 40px; font-size: 0.7rem; transform: rotate(-43deg); left: -29px; top: 25px; }
section .badge:empty { display: none; }
section .badge.color2 { background-color: var(--c-secondary); }
section .badge.color3 { background-color: var(--c-terciary); }
.alert { padding: 1.1rem 1.25rem 1.1rem 59px; margin-bottom: 1rem; border: 1px solid transparent; border-radius: 0.25rem; position: absolute; z-index: 99; width: calc(100% + -40px); max-width: 800px; top: 40px; left: 50%; transform: translateX(-50%); font-size: 0.7rem; cursor: pointer; box-shadow: rgba(100, 100, 100, 0.05) 0px 0px 15px 15px; background-color: rgb(255, 255, 255); }
.alert::before { content: "×"; font-size: 1rem; display: block; position: absolute; right: 20px; line-height: 0.6; opacity: 0.6; }
.alert:hover::before { opacity: 1; }
.alert::after { content: ""; font-weight: 900; display: flex; width: 35px; height: 35px; color: white; border-radius: 50%; justify-content: center; align-items: center; font-size: 30px; position: absolute; left: 13px; top: 50%; transform: translateY(-50%); font-family: serif; }
.alert-success { color: rgb(21, 87, 36); border-color: rgb(195, 230, 203); }
.alert-success::after { content: "✓"; background-color: rgb(21, 87, 36); font-family: inherit; }
.alert-danger { color: rgb(114, 28, 36); border-color: rgb(245, 198, 203); }
.alert-danger::after { content: "×"; background-color: rgb(114, 28, 36); }
.alert-warning { color: rgb(133, 100, 4); border-color: rgb(255, 238, 186); }
.alert-warning::after { content: "!"; background-color: rgb(133, 100, 4); }
.alert-info { color: rgb(12, 84, 96); border-color: rgb(190, 229, 235); }
.alert-info::after { content: "i"; background-color: rgb(12, 84, 96); }
.cant button.badge10::after { content: "10"; position: absolute; font-size: 0.4rem; right: -2px; transform: translateY(-6px); background-color: var(--c-terciary); display: flex; color: white; width: 13px; height: 13px; border-radius: 50%; align-items: center; justify-content: center; }
.cant button.badge10:first-child::after { right: initial; left: -4px; }
@media screen and (max-width: 900px) {
  .cant button.badge10 { display: none; }
}
.cod { position: absolute; z-index: 1; right: 5px; font-size: 0.5rem; font-weight: bold; background-color: rgba(255, 255, 255, 0.9); border: 1px solid rgb(204, 204, 204); padding: 3px 5px; top: 5px; }
.mojito-modal-div { padding-bottom: 50px; }
.complemento-disponible { z-index: 1; cursor: help; font-size: 0.5rem; padding: 5px; position: absolute; bottom: 9px; left: 9px; text-transform: uppercase; background-color: rgb(68, 68, 68); border: 1px solid rgba(255, 255, 255, 0.3); color: rgb(238, 238, 238); }
.complemento-disponible::before { content: "!"; display: inline-block; vertical-align: middle; font-weight: 900; border: 2px solid rgb(238, 238, 238); border-radius: 50%; width: 14px; height: 14px; margin-right: 4px; font-size: 0.6rem; }
.promocion { color: rgb(255, 255, 255); width: 100%; position: absolute; top: -220px; right: 100px; max-width: 550px; }
.promocion::before { display: block; width: 50px; height: 50px; background-image: url("data:image/svg+xml,%3Csvg width='78' height='78' viewBox='0 0 78 78' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M39.0001 68.64C57.9545 68.64 73.3201 53.2744 73.3201 34.32C73.3201 15.3656 57.9545 0 39.0001 0C20.0456 0 4.68005 15.3656 4.68005 34.32C4.68005 43.2429 8.08524 51.3705 13.667 57.4741C14.3863 58.2607 14.8201 59.2749 14.8201 60.3408V73.1872C14.8201 76.1365 17.9031 78.0717 20.5591 76.7894L37.4153 68.6519C37.4251 68.6472 37.4249 68.6332 37.415 68.6288C37.4022 68.623 37.4068 68.6037 37.4208 68.6043C37.9443 68.628 38.4708 68.64 39.0001 68.64Z' fill='%23B15500'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M35.8695 36.5652C35.8695 38.222 37.2127 39.5652 38.8695 39.5652H39.1304C40.7872 39.5652 42.1304 38.222 42.1304 36.5652L42.1304 23.0869C42.1304 21.4301 40.7872 20.0869 39.1304 20.0869H38.8695C37.2127 20.0869 35.8695 21.4301 35.8695 23.0869V36.5652ZM38.9999 47.913C40.7288 47.913 42.1304 46.5115 42.1304 44.7826C42.1304 43.0537 40.7288 41.6521 38.9999 41.6521C37.2711 41.6521 35.8695 43.0537 35.8695 44.7826C35.8695 46.5115 37.2711 47.913 38.9999 47.913Z' fill='white'/%3E%3C/svg%3E%0A"); background-size: cover; position: absolute; top: -30px; }
.promocion::after { display: block; width: 120px; height: 100px; background-image: url("data:image/svg+xml,%3Csvg width='104' height='86' viewBox='0 0 104 86' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='83' cy='11' r='11' fill='%23B15500'/%3E%3Ccircle cx='63.2049' cy='43.1187' r='4.15994' fill='%23B15500'/%3E%3Ccircle cx='11.992' cy='6.77329' r='2.77329' fill='%23B15500'/%3E%3Cpath d='M78.8706 73.138C109.931 100.957 112.559 148.688 84.7401 179.749C56.9211 210.809 9.18992 213.437 -21.8706 185.618C-52.9311 157.799 -55.559 110.068 -27.7401 79.0074C-14.3975 64.1102 3.52554 55.7534 21.993 54.1594C26.2912 53.7885 29.8346 50.3474 29.8264 46.0332L29.8232 44.3418C29.8192 42.2738 28.4959 40.4885 26.936 39.1309C22.4553 35.2312 21.9843 28.4375 25.8839 23.9568C29.7836 19.4761 36.5772 19.0051 41.0579 22.9047C45.5387 26.8044 46.0097 33.598 42.11 38.0787C41.7779 38.4603 41.4248 38.8129 41.054 39.1361C38.4051 41.4445 35.5739 44.264 35.5806 47.7776C35.5875 51.4237 38.3736 54.4312 41.9619 55.0778C55.255 57.4733 68.0706 63.4651 78.8706 73.138Z' fill='%23B15500'/%3E%3C/svg%3E%0A"); background-size: cover; position: absolute; bottom: 0px; z-index: 0; right: 0px; border-radius: 0px 0px 0px 20px; transform: scaleX(-1); }
.promocion > * { position: relative; z-index: 1; }
.promocion .letra-grande { font-family: Oswald, sans-serif; font-size: 1.5rem; padding-bottom: 8px; }
.promocion .letra-chica { font-weight: 300; font-size: 0.8rem; line-height: 1.5; }
.promocion .letra-chica b { font-weight: 700; }
@media screen and (max-width: 900px) {
  .promocion { position: inherit; top: 60px; right: initial; left: initial; }
  .promocion::before { }
  .promocion::after { }
  .promocion > * { }
  .promocion .letra-grande { }
  .promocion .letra-chica { }
  .promocion .letra-chica b { }
}
