section#header-proposal .bg-image img {
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
	object-fit: cover;
}

section#header-proposal .bg-image {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 50%;
	top: 0;
	z-index: 0;
}

section#header-proposal {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}

section#header-proposal .container {}

section#header-proposal .icon {
	text-align: center
}

section#header-proposal .icon img {
	height: 60px;
	width: auto;
	object-fit: contain;
}

section#header-proposal .title {
	font-weight: 600;
	padding-bottom: 20px;
	text-align: center;
}

section#header-proposal .title:before {
	content: "";
}

section#header-proposal .text {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 40px;
}

section#header-proposal .flex.principal-col {
	position: relative;
	width: 50%;
	z-index: 1;
}

section#header-proposal .flex.principal-col>div {}

section#header-proposal .flex.principal-col>div:nth-child(1) {}

section#header-proposal .flex.principal-col>div:nth-child(2) {}

@media screen and (max-width:900px) {
	section#header-proposal .bg-image {
		left: 0;
		width: 100%;
	}

	section#header-proposal .bg-image img {}

	section#header-proposal {}

	section#header-proposal .container {}

	section#header-proposal .icon {}

	section#header-proposal .icon img {}

	section#header-proposal .title {}

	section#header-proposal .text {}

	section#header-proposal .flex.principal-col {
		width: 100%;
	}

	section#header-proposal .flex.principal-col>div {}

	section#header-proposal .flex.principal-col>div:nth-child(1) {}

	section#header-proposal .flex.principal-col>div:nth-child(2) {}
}

section#about-founder {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}

section#about-founder .container {}

section#about-founder .icon {
	text-align: center
}

section#about-founder .icon img {
	height: 60px;
	width: auto;
	object-fit: contain;
}

section#about-founder .sup_titulo {
	font-size: 0.7rem;
	padding-bottom: 10px;
	text-align: center;
}

section#about-founder .text {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 40px;
}

section#about-founder .container {
	display: flex;
	align-items: center;
}

section#about-founder .container>div {
	width: 100%;
}

section#about-founder .image {
	padding-bottom: 30px;
}

section#about-founder .image img {}

@media screen and (max-width:900px) {
	section#about-founder {}

	section#about-founder .container {}

	section#about-founder .icon {}

	section#about-founder .icon img {}

	section#about-founder .sup_titulo {}

	section#about-founder .text {}

	section#about-founder .container {
		display: block;
	}

	section#about-founder .container>div {}

	section#about-founder .image {}

	section#about-founder .image img {}
}


section#about-us {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}

section#about-us .container {}

section#about-us .icon {
	text-align: center
}

section#about-us .icon img {
	height: 60px;
	width: auto;
	object-fit: contain;
}

section#about-us .sup_titulo {
	font-size: 0.7rem;
	padding-bottom: 10px;
	text-align: center;
}

section#about-us .text {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 40px;
}

section#about-us .container {
	display: flex;
	align-items: center;
}

section#about-us .container>div {
	width: 100%;
}

section#about-us .image {
	padding-bottom: 30px;
}

section#about-us .image img {}

@media screen and (max-width:900px) {
	section#about-us {}

	section#about-us .container {}

	section#about-us .icon {}

	section#about-us .icon img {}

	section#about-us .sup_titulo {}

	section#about-us .text {}

	section#about-us .container {
		display: block;
	}

	section#about-us .container>div {}

	section#about-us .image {}

	section#about-us .image img {}
}

section#team {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}

section#team .container {}

section#team .icon {
	text-align: center
}

section#team .icon img {
	height: 60px;
	width: auto;
	object-fit: contain;
}

section#team .sup_titulo {
	font-size: 0.7rem;
	padding-bottom: 10px;
	text-align: center;
}

section#team .text {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 40px;
}

section#team .container {
	display: flex;
	align-items: center;
}

section#team .container>div {
	width: 100%;
}

section#team .image {
	padding-bottom: 30px;
}

section#team .image img {}

@media screen and (max-width:900px) {
	section#team {}

	section#team .container {}

	section#team .icon {}

	section#team .icon img {}

	section#team .sup_titulo {}

	section#team .text {}

	section#team .container {
		display: block;
	}

	section#team .container>div {}

	section#team .image {}

	section#team .image img {}
}

section#testimonials {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}

section#testimonials .container {}

section#testimonials .icon {
	text-align: center
}

section#testimonials .icon img {
	height: 60px;
	width: auto;
	object-fit: contain;
}

section#testimonials .sup_titulo {
	font-size: 0.7rem;
	padding-bottom: 10px;
	text-align: center;
}

section#testimonials .text {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 40px;
}

section#testimonials .container {
	display: flex;
	align-items: center;
}

section#testimonials .container>div {
	width: 100%;
}

section#testimonials .image {
	padding-bottom: 30px;
}

section#testimonials .image img {}

@media screen and (max-width:900px) {
	section#testimonials {}

	section#testimonials .container {}

	section#testimonials .icon {}

	section#testimonials .icon img {}

	section#testimonials .sup_titulo {}

	section#testimonials .text {}

	section#testimonials .container {
		display: block;
	}

	section#testimonials .container>div {}

	section#testimonials .image {}

	section#testimonials .image img {}
}

section#logos {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}

section#logos .container {}

section#logos .items-logos {
	text-align: center;
}

section#logos .items-logos .item {}

section#logos .items-logos .bg {
	background-color:
}

section#logos .items-logos .imagen_flex {
	height: 0;
	overflow: hidden;
	position: relative;
	padding-bottom: 60%;
}

section#logos .items-logos .imagen_flex a {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

section#logos .items-logos .imagen_flex a:hover {
	filter: brightness(0.7)
}

section#logos .items-logos .imagen_flex img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

@media screen and (max-width:900px) {
	section#logos {}

	section#logos .container {}

	section#logos .items-logos {}

	section#logos .items-logos .item {}

	section#logos .items-logos .bg {}

	section#logos .items-logos .imagen_flex {}

	section#logos .items-logos .imagen_flex img {}
}

section#proposal-header .bg-image img {
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	pointer-events: none;
	object-fit: cover;
}

section#proposal-header .bg-image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 0;
}

section#proposal-header {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}

section#proposal-header .container {}

section#proposal-header .title {
	font-weight: 600;
	padding-bottom: 20px;
	text-align: center;
}

section#proposal-header .title:before {
	content: "";
}

section#proposal-header .flex.principal-col {
	position: relative;
	z-index: 1;
}

section#proposal-header .flex.principal-col>div {}

section#proposal-header .flex.principal-col>div:nth-child(1) {}

section#proposal-header .flex.principal-col>div:nth-child(2) {}

@media screen and (max-width:900px) {
	section#proposal-header .bg-image {}

	section#proposal-header .bg-image img {}

	section#proposal-header {}

	section#proposal-header .container {}

	section#proposal-header .title {}

	section#proposal-header .flex.principal-col {}

	section#proposal-header .flex.principal-col>div {}

	section#proposal-header .flex.principal-col>div:nth-child(1) {}

	section#proposal-header .flex.principal-col>div:nth-child(2) {}
}

section#proposal-scope {
	padding-top: 50px;
	padding-bottom: 50px;
	position: relative;
}

section#proposal-scope .container {}

section#proposal-scope .title {
	font-weight: 600;
	padding-bottom: 20px;
	text-align: center;
}

section#proposal-scope .title:before {
	content: "";
}

section#proposal-scope .items-proposal-scope {
	text-align: center;
}

section#proposal-scope .items-proposal-scope .item {}

section#proposal-scope .items-proposal-scope .bg {
	background-color:
}

section#proposal-scope .items-proposal-scope .titulo_flex {
	padding-bottom: 10px
}

section#proposal-scope .items-proposal-scope .subtitulo_flex {
	font-size: 0.7rem;
	padding-bottom: 10px
}

section#proposal-scope .items-proposal-scope .texto_flex {
	font-size: 0.7rem;
	padding-bottom: 10px
}

@media screen and (max-width:900px) {
	section#proposal-scope {}

	section#proposal-scope .container {}

	section#proposal-scope .title {}

	section#proposal-scope .items-proposal-scope {}

	section#proposal-scope .items-proposal-scope .item {}

	section#proposal-scope .items-proposal-scope .bg {}

	section#proposal-scope .items-proposal-scope .titulo_flex {}

	section#proposal-scope .items-proposal-scope .subtitulo_flex {}

	section#proposal-scope .items-proposal-scope .texto_flex {}
}