section#principal-home {
  padding-top: 150px;
  padding-bottom: 100px;
  position: relative;
}
section#principal-home .container {
}
section#principal-home .title {
  font-weight: 900;
  padding-bottom: 20px;
  text-align: left;
  font-size: 72px;
}
section#principal-home .title span {
  color: var(--c-secondary);
}
section#principal-home .title:before {
  content: "";
}
section#principal-home .text {
  max-width: 400px;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  line-height: 22px;
  padding-bottom: 40px;
}
section#principal-home .action {
  text-align: center;
  padding-bottom: 10px;
}
section#principal-home .action .btn {
  text-decoration: none;
}
section#principal-home .container {
  display: flex;
  align-items: center;
}
section#principal-home .container > div {
  width: 100%;
}
section#principal-home .image {
  padding-bottom: 30px;
}
section#principal-home .image img {
}
@media screen and (max-width: 900px) {
  section#principal-home {
  }
  section#principal-home .container {
  }
  section#principal-home .title {
  }
  section#principal-home .text {
  }
  section#principal-home .action {
  }
  section#principal-home .action .btn {
  }
  section#principal-home .container {
    display: block;
  }
  section#principal-home .container > div {
  }
  section#principal-home .image {
  }
  section#principal-home .image img {
  }
}

section#compra-producto {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
section#compra-producto .container {
}
section#compra-producto .title {
  font-weight: 600;
  padding-bottom: 20px;
  text-align: left;
}
section#compra-producto .title:before {
  content: "";
}
section#compra-producto .text {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}
section#compra-producto .container {
  /* display: flex; */
  align-items: center;
}
section#compra-producto .container > div {
  width: 100%;
}
section#compra-producto .container .facil {
  display: flex;
}
section#compra-producto .container .facil > div {
}
section#compra-producto .container .facil > div:first-child {
}
section#compra-producto .container .facil > div:last-child {
}
section#compra-producto .container .facil > div:last-child .title-principal {
}
section#compra-producto .container .facil > div:last-child .pasos {
}
section#compra-producto .container .facil > div:last-child .pasos ul {
  list-style: none;
}
section#compra-producto .container .facil > div:last-child .pasos li {
  display: flex;
}
section#compra-producto .container .facil > div:last-child .pasos li img {
  /* -webkit-box-shadow: 0 0 10px 5px rgb(0 0 0 / 40%); */
  /* box-shadow: 0 0 10px 5px rgb(0 0 0 / 40%); */
  -webkit-border-radius: 50%;
  text-align: center;
  height: 67px;
  width: 67px;
  align-items: center;
  object-fit: none;
  justify-content: center;
  background: rgba(66, 62, 175, 0.3);
}
section#compra-producto .container .facil > div:last-child .pasos ul .subtitle {
}
section#compra-producto .container .facil > div:last-child .pasos ul .text {
}

section#compra-producto .image {
  padding-bottom: 30px;
}

section#compra-producto .image img {
}

section#compra-producto .tejido {
  display: flex;
}
section#compra-producto .tejido > div:first-child {
  padding-top: 39px;
}
section#compra-producto .tejido > div:first-child .title {
  text-align: left;
  font-weight: 400;
  font-size: 48px;
}
section#compra-producto .tejido > div:first-child .text {
  text-align: left;
  margin: 0;
}
section#compra-producto .tejido > div:first-child ul {
  /* list-style: none; */
  /* padding: 0; */
}
section#compra-producto .tejido > div:first-child .btn {
  text-decoration: none;
  background: #9795d3;
}
section#compra-producto .tejido > div:last-child {
}
section#compra-producto .lonas {
  display: flex;
}
section#compra-producto .lonas > div:first-child {
}
section#compra-producto .lonas > div:last-child {
}
section#compra-producto .lonas > div:last-child .title {
  text-align: left;
}
section#compra-producto .lonas > div:last-child .text {
  text-align: left;
  margin: 0;
}
section#compra-producto .lonas > div:last-child .action {
}
section#compra-producto .lonas > div:last-child .btn {
  background-color: transparent;
  color: #000;
}
section#compra-producto .lonas > div:last-child a {
  display: flex;
}
section#compra-producto .lonas > div:last-child img{
    margin-left: 10px;
}
@media screen and (max-width: 900px) {
  section#compra-producto {
  }
  section#compra-producto .container {
  }
  section#compra-producto .title {
  }
  section#compra-producto .text {
  }
  section#compra-producto .container {
    display: block;
  }
  section#compra-producto .container > div {
  }
  section#compra-producto .image {
  }
  section#compra-producto .image img {
  }
}

section#bg-jardin .bg-image img {
  display: block;
  width: 100%;
  height: 700px;
  left: 0;
  top: 0;
  pointer-events: none;
  object-fit: cover;
}
section#bg-jardin .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
section#bg-jardin {
  padding-top: 50px;
  padding-bottom: 500px;
  position: relative;
}
section#bg-jardin .container {
  /* width: 60%; */
  margin-left: 10%;
}
section#bg-jardin .title {
  font-weight: 400;
  padding-bottom: 20px;
  text-align: left;
  font-size: 34px;
  margin-bottom: 0;
  line-height: 40px;
}
section#bg-jardin .title:before {
  content: "";
}
section#bg-jardin .text {
  max-width: 186px;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 40px;
  font-weight: 400;
  margin: 0;
}
section#bg-jardin .action {
  text-align: left;
}
section#bg-jardin .action .btn {
  text-decoration: underline;
  background-color: transparent;
  color: #262626;
  padding: 0;
}
section#bg-jardin .action img{
    margin-left: 5px;
}
section#bg-jardin .flex.principal-col {
  position: relative;
  z-index: 1;
  margin: 0;
}
section#bg-jardin .flex.principal-col > div {
}
section#bg-jardin .flex.principal-col > div:nth-child(1) {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 14px;
  /* margin-right: 80%; */
  padding: 20px;
  width: auto;
}
section#bg-jardin .flex.principal-col > div:nth-child(2) {
}
@media screen and (max-width: 900px) {
  section#bg-jardin .bg-image {
  }
  section#bg-jardin .bg-image img {
  }
  section#bg-jardin {
  }
  section#bg-jardin .container {
  }
  section#bg-jardin .title {
  }
  section#bg-jardin .text {
  }
  section#bg-jardin .action {
  }
  section#bg-jardin .action .btn {
  }
  section#bg-jardin .flex.principal-col {
  }
  section#bg-jardin .flex.principal-col > div {
  }
  section#bg-jardin .flex.principal-col > div:nth-child(1) {
  }
  section#bg-jardin .flex.principal-col > div:nth-child(2) {
  }
}

section#video-instrucciones {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
section#video-instrucciones .container {
}
section#video-instrucciones .title {
  font-weight: 400;
  padding-bottom: 20px;
  text-align: center;
  font-size: 48px;
}
section#video-instrucciones .title:before {
  content: "";
}
section#video-instrucciones .text {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  font-weight: 300;
}
section#video-instrucciones .image {
  text-align: center;
  padding-bottom: 30px;
}
section#video-instrucciones .image img {
  max-width: 600px;
}
section#video-instrucciones .image {
  padding-bottom: 30px;
}
section#video-instrucciones .image img {
  max-width: 600px;
}
@media screen and (max-width: 900px) {
  section#video-instrucciones {
  }
  section#video-instrucciones .container {
  }
  section#video-instrucciones .title {
  }
  section#video-instrucciones .text {
  }
  section#video-instrucciones .image {
  }
  section#video-instrucciones .image img {
  }
  section#video-instrucciones .image {
  }
  section#video-instrucciones .image img {
  }
}
